# User IDs (Run 'id' in terminal to verify)
USER_ID=
GROUP_ID=

# Security
N8N_ENCRYPTION_KEY=replace_this_with_credentials

# Networking
OLLAMA_URL=http://ollama:11434
# Local Networking
# OLLAMA_URL=http://host.docker.internal:11434
